.ingredients{

    font-family: 'Courier New', Courier, monospace;

    color: white;



}

p {font-family: 'Courier New', Courier, monospace;
color: white;}

body{background-color: red;}

ol{font-family: 'Courier New', Courier, monospace;
color: white;}